<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="DependencyScanner.ViewModel.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Web.XmlTransform" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-15.0.0.0" newVersion="15.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <DependencyScanner.ViewModel.Properties.Settings>
      <setting name="WorkingDirectory" serializeAs="String">
        <value />
      </setting>
      <setting name="ExecuteScanOnInit" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ShowCmdButton" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShowFolderButton" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShowOpenButton" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="PreferedConsoleTool" serializeAs="String">
        <value>cmd.exe</value>
      </setting>
      <setting name="PreferencedWebBrowser" serializeAs="String">
        <value />
      </setting>
      <setting name="AutoScanAfterPickingDirectory" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ShowOpenUrlButton" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="PathToNuspec" serializeAs="String">
        <value />
      </setting>
    </DependencyScanner.ViewModel.Properties.Settings>
  </userSettings>
</configuration>